################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

# Ignorar clave API de Google Maps
**/google_maps_api.xml